mixin menu(data)
  .menu
    .menu__mobile
    .menu__list
      a(href="#" title="").menu__item
        i.fa.fa-file-text-o
        span Новости
      a(href="#" title="").menu__item
        i.fa.fa-bar-chart
        span Статистика
      a(href="#" title="").menu__item
        i.fa.fa-folder
        span Промо
      a(href="#" title="").menu__item
        i.fa.fa-globe
        span Сайты
      a(href="#" title="").menu__item
        i.fa.fa-rub
        span Финансы
      a(href="#" title="").menu__item
        i.fa.fa-cog
        span Профиль
