mixin wallet-block(data)
  .wallet-block
    .title.wallet-block__title Кошелёк для выплат
    form.form
      .form-group._iconed
        input(type="text" value="R294595894083").form-field.form-group__field
        a(href="#" title="").form-group__icon
          i.fa.fa-pencil-square-o

