mixin landing-way(data)
    section.layer.landing-way
        h1.landing-way__hd Как заработать на партнерской программе?
        .landing-way__block
            span.landing-way__pic.create-account
            h2.landing-way__sub-hd Создайте аккаунт
            p.landing-way__title Для регистрации в системе необходимо всего 2 клика и электронная почта.
            a.button._green.landing-way__button(href="javascript: void(0);") Регистрация
        .landing-way__block
            span.landing-way__pic.start-earning
            h2.landing-way__sub-hd Начните зарабатывать
            p.landing-way__title Установите рекламный блок на страницах вашего сайта и начните зарабатывать.
        .landing-way__block
            span.landing-way__pic.make-profit
            h2.landing-way__sub-hd Получайте прибыль
            p.landing-way__title Используйте удобный для вас метод вывода прибыли.                        