mixin landing-banner()
    section.landing-banner
        .landing-banner__screen
            h1.landing-banner__hd EDU<span class="landing-banner__green">PAY</span> - зарабатывай<br/>на курсах обучения
            p.landing-banner__text Зарабатывайте с помощью партнерской программы EDUPAY.RU<br/>без вложений, используя существующую аудиторию.
            a.button._green._landing(href="javascript: void(0);") Начать зарабатывать
