mixin landing-banner()
    section.landing-banner
        .landing-banner__screen
            h1.landing-banner__hd EDU<span class="landing-banner__green">PAY</span> - зарабатывай<br/>на курсах обучения
            p.landing-banner__text Зарабатывайте с помощью партнерской программы EDUPAY.RU<br/>без вложений, используя существующую аудиторию.
            a.button._green._landing(href="javascript: void(0);") Начать зарабатывать
        ul.landing-banner-stat
            li.landing-banner-stat__item <b>15 - 45%</b><br/>конверсия страницы подписки<br/>и регистрации на вебинар
            li.landing-banner-stat__item <b>2 - 3%</b><br/>конверсия в продажу из подписчиков<br/>в первый месяц и 3-5% за 3 месяца
            li.landing-banner-stat__item <b>70 - 380</b> руб.<br/>принесет вам каждый подписчик<br/>(зависит от источника трафика)
            li.landing-banner-stat__item до <b>10 000</b> руб.<br/>с каждого клиента, оплатившего<br/>обучение
            li.landing-banner-stat__item <b>50 - 70%</b><br/>открываемость писем

