mixin channel-add(data)
  .channel-add
    .channel-add__title.title._big._blue Добавить кампанию
      form(method="post" action="").channel-add-form.form
       .form__row._flex._center
         label.form__label._required Кампания
         .form-select._sel-chanel
           select(name="company_id").form-select__field
             option Выбрать из списка
       .form__row._flex._center
         label.form__label._required Целевой сайт
         .form-select._sel-chanel
            select(name="landing_id").form-select__field
              option Выбрать из списка
       .form__row._flex._center
         label.form__label._required Название потока
         input(name="title" type="text" value="").form-field._w80
       .form__row._flex
         label.form__label Текст
         textarea(name="text").form-field._textarea._add-news._w80
       .form-btn-group._adv-chanel
         input(name="ok" type="submit" value="Добавить").button._green
         input(name="cnc" type="submit" value="Отменить").button._white
