mixin tickets-list(data)
  .tickets-list
    .news-item._unreaded
      .news-item__top
        .news-item__title МТС: активация кастомизированных ЛП
        .news-item__date 
          i.fa.fa-calendar
          span 21.05.2016   15:30
      .news-item__text 
        p С сегодняшнего дня оператором МТС были возвращены в работу ранее согласованные и установленные лендинги для вап-проектов.

      .news-item._inside
        .news-item__top 
          .news-item__title Регистрация для партнеров
          .news-item__date 
            i.fa.fa-calendar
            span 21.05.2016   15:30
        .news-item__text 
          p Партнерская программа по WAP подпискам от LimonBucks!

          p Мы решили WAP сайты вынести в отдельную ПП, с возможностью развития именно этого направления, чтобы дать своим партнерам качественный сервис по WAP подпискам!

      .news-item._inside
        .news-item__top 
          .news-item__title Регистрация для партнеров
          .news-item__date 
            i.fa.fa-calendar
            span 21.05.2016   15:30
        .news-item__text 
          p Партнерская программа по WAP подпискам от LimonBucks!

          p Мы решили WAP сайты вынести в отдельную ПП, с возможностью развития именно этого направления, чтобы дать своим партнерам качественный сервис по WAP подпискам!

      .news-item._answer._inside
        .news-item__top
          .form__row
            input(type="text" value="" placeholder="Введите заголовок сообщения").form-field._w100
        .news-item__text 
          .form__row
            textarea(placeholder="Введите текст сообщения").form-field._textarea._w100
          .form__row
            input(type="submit" value="Отправить").button._green