mixin tickets-list(data)
  .tickets-list
    .tickets-list-left
      .tickets-list__title Отправитель
      .tickets-list-left__content
        .tickets-list__name._green Vage
        .tickets-list__time 2016-05-23  11:00:43
        .tickets-list__name._blue Admin

    .tickets-list-right
      .tickets-list__title Сообщение
      .tickets-list-right__content
        .tickets-list__theme Тема: Текст

        .tickets-list-message
          .tickets-list-message__top
            .tickets-list__name._green Vage
            .tickets-list__time 2016-05-23  11:00:43
          .tickets-list-message__text Трехкомпонентное образование синтезирует коллоидный ингибитор до полного израсходования одного из реагирующих веществ. Поглощение кристаллически расщепляет ингибитор так, как это могло влиять на реакцию Дильса-Альдера. Температура титрует катод.

        .tickets-list-message
          .tickets-list-message__top
            .tickets-list__name._blue Admin
            .tickets-list__time 2016-05-23  11:00:43
          .tickets-list-message__text Трехкомпонентное образование синтезирует коллоидный ингибитор до полного израсходования одного из реагирующих веществ. Поглощение кристаллически расщепляет ингибитор так, как это могло влиять на реакцию Дильса-Альдера. Температура титрует катод.

        .tickets-list-form
          textarea().form-field._textarea._w100
          .tickets-list-form__control
            input(type="submit" value="Отправить").button._green._small
            input(type="submit" value="Удалить").button._white._small
            input(type="submit" value="Закрыть тикет").button._white._small
            input(type="submit" value="Удалить тикет").button._white._small