mixin info-message(data)
  .info-message._flex._center
    .info-message__left
      .info-message__title.title._big Отклонено
      .info-message__text Минимальная сумма заказа досрочной выплаты - 100р. <br>Досрочные выплаты обрабатываются до 12:00 (мск) и после 22:00 (мск).
    .info-message__right
      a(href="#" title="").button._green Попробовать еще раз