mixin footer(data)
  footer.footer
    .footer-menu
      a(href="#" title="").footer-menu__item Правила
      a(href="#" title="").footer-menu__item FAQ
      a(href="#" title="").footer-menu__item Контакты