.footer {
  box-sizing: border-box;
  padding: 20px;

  background: #e2e2e2;

  @extend .main;
}

.footer-menu {
  &__item {
    position: relative;

    margin-right: 32px;

    text-decoration: none;

    color: #999;

    font-size: 14px;
    &:after {
      position: absolute;
      top: 0;
      right: -16px;

      content: "|";
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
