.landing-model {
    display: block;
    padding: 30px 0;
    text-align: center;

    &__hd {
        display: block;
        width: 100%;
        font-family: 'Merriweather', sans-serif;
        font-weight: bold;
        font-size: 36px;
        color: #333;
        padding: 1.1em 0 0 0;
        margin: 0;
    }
    &__box {
        display: block;
        list-style: none;
        font-size: 0;
        padding:0;
        margin: auto;
    }
    &__item {
        display: inline-block;
        font-size: 14px;
        margin-right: 1%;
        width: 19.2%;
        padding: 0 1.8% 20px 1.8%;
        box-sizing: border-box;        
        text-align: left;
        vertical-align: bottom;

        &:nth-child(2) {
            padding-left: 0;
            padding-right: 3.6%;
            .landing-model__nom:after {
                width: 96%;
                left: 115%;
                top: 34%;
                height: 12px;
                transform: rotate(-7deg);
            }
        }
        &:nth-child(3) .landing-model__nom:after{
            left: 99%;
            top: 24%;
            transform: rotate(170deg);
        }
        &:nth-child(4) .landing-model__nom:after{
            left: 100%;
            top: 50%;
            transform: rotate(14deg);
        }
        &:nth-child(5) .landing-model__nom:after{
            width: 84%;
            left: 94%;
            top: -11%;
            transform: rotate(147deg);
        }

        &:last-child {
            margin-right: 0;
            padding-right: 0;

            .landing-model__nom:after {
                display: none;
            }
        }

    }
    &__nom {
        display: inline-block;
        padding: .14em .3em .24em .3em;
        width: 1em;
        text-align: center;
        margin: 0;
        border-radius: 50%;        
        font-family: 'Merriweather', sans-serif;
        font-weight: normal;
        font-size: 72px;
        color: #fff;
        background-color: #b6dea5;
        position: relative;
        z-index: 0;
        vertical-align: middle;
        &:after {
            content: "";
            font-size: 0;
            position: absolute;
            z-index: 0;
            width: 85%;
            left: 100%;
            top: 34%;
            height: 12px;
            display: inline-block;
            border: 12px dotted #daeed2;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: transparent;
            border-radius: 50%;
        }
    }
    &__title {
        display: block;
        margin: auto;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 14px;
        padding: 2.5em 0;
        color: #000;
        line-height: 1.5;
    }
}
