mixin landing-model(data)
    section.landing-model
        ol.layer.landing-model__box
            lh.landing-model__hd Модель продаж
            li.landing-model__item
                span.landing-model__nom 1
                span.landing-model__title Мы организуем бесплатный онлайн-семинар («вебинар»)
            li.landing-model__item
                span.landing-model__nom 2
                span.landing-model__title Аудитория собирается на вебинар путем подписки с помощью посадочной страницы
            li.landing-model__item
                span.landing-model__nom 3
                span.landing-model__title После оформления подписки, человеку направляется автоматическая цепочка писем, которые доводят его до вебинара
            li.landing-model__item
                span.landing-model__nom 4
                span.landing-model__title Живой онлайн-семинар проходит 1 раз в 2 дня
            li.landing-model__item
                span.landing-model__nom 5
                span.landing-model__title После вебинара подписчик получает автоматическую цепочку e-mail писем с полезным контентом и анонсом новых онлайн-семинаров, которые проходят практически еженедельно. План рассылки полезных писем и содержание вебинаров запланированы на год вперед