mixin landing-whom(data)
    section.landing-whom
        .layer.landing-whom__box
            .landing-whom__item._learning-centers
                h2.landing-whom__hd Центрам обучения
                p.landing-whom__title массажистов, косметологов, визажистов, стилистов, мастеров маникюра, фитнес-инструкторов и других специальностей в сфере красоты и здоровья.
            .landing-whom__item._web-masters
                h2.landing-whom__hd Web-мастерам
                p.landing-whom__title Блоггерам, владельцам групп в социальных сетях, владельцам тематических сайтов и всем тем, у кого есть своя лояльная аудитория..
            .landing-whom__item._traffic-professionals
                h2.landing-whom__hd Профессионалам по трафику
                p.landing-whom__title Яндекс директ, РСЯ, КМС, GoogleAdWords, тизеры, СPA-сети, таргетинг в соц. сетях и пр.