mixin landing-stat(data)
  section.landing-stat
    ul.layer.landing-stat__box
      lh.landing-stat__hd Пример статистики доходов
      li.landing-stat__item._left-first
        mark.landing-stat__mark 2 - 3%
        span.landing-stat__text конверсия в продажу из подписчиков в первый месяц и 3-5% за 3 месяца
      li.landing-stat__item._left-second
        mark.landing-stat__mark 70 - 380 <small>руб.</small>
        span.landing-stat__text принесет вам каждый подписчик (зависит от источника трафика)
      li.landing-stat__item._right-first
        mark.landing-stat__mark 15 - 45%
        span.landing-stat__text конверсия страницы подписки и регистрации на вебинар
      li.landing-stat__item._right-second
        mark.landing-stat__mark 15 - 45%
        span.landing-stat__text конверсия страницы подписки и регистрации на вебинар
    a.button._green._fixxed-width._landing(href="javascript: void(0);") Начать зарабатывать