.last-paid {
  box-sizing: border-box;
  width: 100%;
  margin-top: 21px;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 15px;
  padding-left: 22px;

  @extend .white-block;
  &__title {
    display: flex;

    margin-bottom: 12px;

    justify-content: space-between;
    align-items: center;
  }
}

.last-paid-table {
  tr {
    td {
      font-size: 12px;

      color: #666;
      &:first-child {
        font-size: 14px;

        color: $green;
      }
      &:last-child {
        font-size: 14px;

        color: #333;
        span {
          color: #7d7d7d;
        }
      }
    }
  }
}
