mixin last-paid(data)
  .last-paid
    .last-paid__title
      .title Последние Выплаты
      .form-select._label._balance
        .form-select__label Показать последние: 
        select.form-select__field
          option 10
          option 20

    table.table.last-paid-table._zebra
      tbody
        - for (var i = 0; i < 7; i++)
          tr
            td
              i.fa.fa-check
            td 16.05.2011 15:60
            td 656 000 
              span руб