mixin landing-program(data)
    section.landing-program
        ul.layer.landing-program__box
            lh.landing-program__hd Программа вебинара предусматривает следующие пункты:
            li.landing-program__item Основы сбалансированного питания и его роль в коррекции веса;
            li.landing-program__item Актуальность и доходность профессии диетолог, которой способен овладеть любой участник;
            li.landing-program__item Программы обучения и их стоимость в нашей онлайн-школе.