.header {
  position: relative;
  z-index: 3;

  display: flex;

  box-shadow: 0 0 4px rgba(#000, .25);

  align-items: center;
  justify-content: flex-start;
  &__logo {
    display: block;

    @include bg($logo);
  }
}

.header-user-info {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  max-width: 1027px;
  padding: 0 37px;

  align-items: center;
  justify-content: space-between;
  &__item {
    display: flex;

    align-items: center;
    justify-content: flex-start;
  }
  &__icon {
    font-size: 21px;
    line-height: 46px;

    width: 46px;
    height: 46px;
    margin-right: 10px;

    text-align: center;

    color: $blue;
    border: 1px solid #dfdfdf;
    border-radius: 50%;
  }
  &__label {
    font-size: 12px;
    line-height: 1;

    text-transform: uppercase;

    color: #666;
  }
  &__text {
    font-size: 18px;

    color: #333;
    span {
      font-size: 12px;

      color: #666;
    }
    a {
      text-decoration: none;

      color: #333;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__avatar {
    margin-right: 10px;
  }
  &__name {
    font-weight: 700;

    color: $green;
    a {
      transition: all .2s ease-out;
      text-decoration: none;

      color: $green;
      &:hover {
        color: $green + #111;
      }
    }
  }
  &__logout {
    font-size: 14px;

    margin-left: 74px;

    color: #787878;
  }
}
