.balance-block {
  position: relative;

  display: flex;

  box-sizing: border-box;
  width: 100%;
  max-width: 690px;
  min-height: 95px;
  padding: 20px;

  color: #fff;

  @extend .blue-block;
  justify-content: space-between;
  align-items: center;
  &__label {
    font-size: 14px;
    font-weight: 400;
  }
}
