mixin balance-block(data)
  .balance-block
    .balance-block__row
      .balance-block__label Выплаты на WMR производятся с комиссией 2%.
      .balance-block__label Выплаты на WMZ производятся БЕЗ комиссии.
    .balance-block__row
      .balance-block__button
        a(href="#" title="").button._white._gray-text._small Заказать досрочную выплату