.landing-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    &__logo {
        display: block;
        @include bg($landing-logo);
    }
}
.main-menu{
    display: block;
    &__item{
        display: inline-block;
        padding: .5em 1em;
        text-decoration: none;
        color: #000;
        font-family: 'RobotoCondensed-Regular', sans-serif;
        font-size: 14px;
        transition: transform 0.1s ease-out;

        &:hover{
            transform: scale(1.05)
        }
    }
}
