mixin landing-header(data)
  header.layer.landing-header
    a(href="javascript: void(0);" title="").landing-header__logo
    nav.main-menu
        a.main-menu__item(href="javascript: void(0);" title="") Главная
        a.main-menu__item(href="javascript: void(0);" title="") Как зарабатывать
        a.main-menu__item(href="javascript: void(0);" title="") Наши Преимущества
        a.main-menu__item(href="javascript: void(0);" title="") Видео презентация
        a.main-menu__item(href="javascript: void(0);" title="") Модель продаж
    nav.main-menu
        a.main-menu__item(href="#" title="" data-modal="#modal-enter") Войти
        a.button._green.main-menu__item(href="#" title="" data-modal="#modal-registration") Регистрация
