mixin sites-block(data)
  .sites-block._flex
    .sites-block__image
      img(src="%=static=%images/assets/sites-block/site-1.png" alt="")
    .sites-block__content
      a(href="#" title="").sites-block__title КАК СТАТЬ ДИЕТОЛОГОМ ЗА 30 ДНЕЙ И ЗАРАБАТЫВАТЬ
      .sites-block__text Данная программа обучения в первую очередь предназначена для тех, кто хочет получить дополнительное образование и в дальнейшем зарабатывать на этом. Она подходит для врачей, фитнес инструкторов, массажистов и тд. Рекомендуем работать именно с этой целевой аудиторией.<br><br>Стандартные тарифы: 4900р, 9900р и 19900р<br>(с возможностью рассрочки платежа для клиента, в связи с этим цена может варироваться)<br><br>Партнерское вознаграждение (за оплаченный счет) - 30%
      a(href="#" title="").sites-block__button.button._green._small Сгенерировать ссылку