mixin sites-block(data)
  .sites-block._flex
    .sites-block__image
      img(src="%=static=%images/assets/sites-block/site-1.png" alt="")
    .sites-block__content
      .sites-block__title Диетология+
      .sites-block__text Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка. Lorem ipsum по большей части является элементом латинского текста классического автора и философа Цицерона

      .sites-block__link ссылка для размещения
      .form-group._iconed._sites-block
        input(type="text" value="http://www.vip-traffic5.com/?adv=363").form-field.form-group__field
        a(href="#" title="").form-group__icon
          i.fa.fa-files-o