mixin sites-block(data)
  .sites-block._flex
    .sites-block__image
      img(src="%=static=%images/assets/sites-block/site-1.png" alt="")
    .sites-block__content
      a(href="#" title="").sites-block__title Диетология+
      .sites-block__text Lorem ipsum – псевдо-латинский текст, который используется для веб дизайна, типографии, оборудования, и распечатки вместо английского текста для того, чтобы сделать ударение не на содержание, а на элементы дизайна. Такой текст также называется как заполнитель. Это очень удобный инструмент для моделей (макетов). Он помогает выделить визуальные элементы в документе или презентации, например текст, шрифт или разметка. Lorem ipsum по большей части является элементом латинского текста классического автора и философа Цицерона

      .sites-block__link ссылка для размещения
      .form-group._iconed._sites-block
        input( type="text" value="http://your_link.ex" readonly).form-field.form-group__field
        a(href="javascript:void(0)" title="" data-clipboard-text="http://your_link.ex").form-group__icon.btn-buf
          i.fa.fa-files-o
