.sites-block {
  @extend .white-block;
  &__image {
    padding: 20px;

    background: #d8d8d8;
  }
  &__content {
    padding: 30px 20px;
  }
  &__title {
    margin-bottom: 15px;

    color: $blue;

    font-size: 26px;
    font-weight: 700;
  }
  &__text {
    color: #666;

    font-size: 14px;
  }
  &__link {
    margin-top: 20px;
    margin-bottom: 10px;

    text-transform: uppercase;

    color: #666;

    font-size: 12px;
  }
}
