mixin landing-offer(data)
    section.landing-offer
        ul.landing-offer__box
            lh.landing-offer__hd Что мы предлагаем:
            li.landing-offer__item Вы зарабатываете уже с существующей аудитории, <b>не вкладывая дополнительных средств</b>. Рентабельность Вашего бизнеса увеличивается.
            li.landing-offer__item Высокий процент выплат - <b>30-50% с каждого клиента</b> (до 10 000 руб).
            li.landing-offer__item <b>Еженедельные выплаты</b> на указанные Вами реквизиты.
            li.landing-offer__item Вы <b>повышаете свой статус</b>, являясь официальным представителем популярного бренда.
            li.landing-offer__item Вы получаете «под ключ» <b>полный маркетинговый пакет</b>. Мы можем изготовить рекламные материалы для Вас индивидуально.
            li.landing-offer__item Вы будете получать <b>доход с любых продаж</b> с каждого прикрепленного подписчика на протяжении 50 лет.
            li.landing-offer__item <b>Широкая целевая аудитория</b> – любая женщина в возрасте от 17 до 70 лет.
            li.landing-offer__item <b>Регулярные семинары</b>, каждый из которых приводит к новым продажам.
        a.button._green._fixxed-width._landing(href="javascript: void(0);") Зарабатывать вместе