mixin adv-chanel-form(data)
  .adv-chanel-form
    form.form
      .form__row._flex._center
        label.form__label._adv-chanel-form._required Кампания
        .form-select._adv-chanel
          select.form-select__field
            option Выбрать из списка
        .form-checkbox
          input(type="checkbox" value="" id="free-url").form-checkbox__field
          label(for="free-url").form-checkbox__label Использовать свободный URL

      .form__row._flex._center
        label.form__label._adv-chanel-form._required Канал рекламы
        input(type="text" value="").form-field._adv-chanel

      .form__row._flex
        label.form__label._adv-chanel-form Описание
        textarea.form-field._textarea._adv-chanel

      .form__row._flex._center
        label.form__label._adv-chanel-form URL целевой страницы
        input(type="text" value="").form-field._adv-chanel

      .form__row._flex1
       label.form__label._adv-chanel-form Арбитражная цена
       .form-select._sel-chanel-55
         select.form-select__field
           option выберите тип
       label.form__label._adv-chanel-form =
       input(name="price" placeholder="введите цену, руб" type="number" min="0" max="9999" step="1" size="4" value="").form-field._w40


      .form-btn-group._adv-chanel
        input(type="submit" value="Сохранить").button._green
        input(type="submit" value="Отменить").button._white
