.pagination {
  margin: 40px 0;

  @extend ._flex;
  justify-content: center;
  &__item {
    display: block;

    width: 32px;
    height: 32px;
    margin: 0 4px;

    transition: all .2s ease-in-out;
    text-align: center;
    text-decoration: none;

    color: #8a8a8a;

    font-size: 12px;
    line-height: 32px;

    @extend .white-block;
    &:hover,
    &._active {
      box-sizing: border-box;

      border-bottom: 2px solid #72b91a;
      background: #e8e8e8;
    }
    &._control {
      width: auto;

      text-transform: uppercase;

      font-size: 12px;
    }
    &._prev {
      padding-right: 21px;
      padding-left: 15px;
      span {
        padding-left: 10px;
      }
    }
    &._next {
      padding-right: 15px;
      padding-left: 21px;
      span {
        padding-right: 10px;
      }
    }
  }
}
