mixin landing-conversion(data)
    section.landing-conversion
        .landing-conversion__box
            p.landing-conversion__text Ни один сайт или письмо не сможет передать те эмоции, которые получают участники вебинара во время «живого» общения с оратором. Таким образом, формируется лояльность аудитории. Дополнительно участники вебинара получают скидку 50% и бонусы в размере 5000 руб., с целью обеспечения высокого уровня продаж.Человек, который не решился оплатить обучение после первого онлайн-семинара, непременно оплачивает после 2-го, 3-го или 5-го. Таким образом, достигается максимальная конверсия в покупку.
            p.landing-conversion__title Человек, который не решился оплатить обучение после первого онлайн-семинара, непременно оплачивает после 2-го, 3-го или 5-го. Таким образом, достигается максимальная конверсия в покупку.
        a.button._green._fixxed-width._landing(href="javascript: void(0);") Стать партнером